/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
@import "tailwindcss";
@theme {
  --color-main: #40d672;
  --shadow-main: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

/* Update the html, body CSS rule */
@font-face {
  font-family: ggsans;
  src: url('../resources/gg-sans-2/gg-sans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: ggsans;
  src: url('../resources/gg-sans-2/gg-sans-Normal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: ggsans;
  src: url('../resources/gg-sans-2/gg-sans-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: ggsans;
  src: url('../resources/gg-sans-2/gg-sans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
html,
body {
  @apply w-full font-medium text-base text-[#1e272e] bg-white;
  font-family: Poppins, sans-serif;
}
::-webkit-scrollbar-track {
  @apply hidden rounded-[10px];
}

::-ms-scrollbar-track {
  @apply rounded-[10px]
}

.textbox-wrapper {
  @apply shadow-main border-none w-1/1 max-w-9/10 lg:max-w-9/20 h-40 lg:h-[25rem] md:h-[20rem] p-7 leading-5 outline-none rounded-lg text-xl;
}
.textbox {
  @apply border-none outline-none resize-none w-full h-full p-0 m-0 bg-transparent text-xl font-normal leading-7 overflow-y-scroll;
}

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600&family=Montserrat:ital,wght@0,600;1,500&family=Poppins:wght@200;300;400;500&family=Raleway:wght@600;700&display=swap");

.seafarer-box-shadow {
  box-shadow: rgba(93, 140, 192, 0.25) 0px 3px 2px, rgba(93, 140, 192, 0.24) 0px 7px 13px -3px, rgba(33, 42, 62, 0.2) 0px -3px 0px inset;
/* old seafarer box shadow: */
/* box-shadow: 0px 3px 2px rgba(93, 140, 192, 0.25), rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
/* filter: drop-shadow(0px 3px 3px rgba(93, 140, 192, 0.25)); */
}

.button {
  @apply text-lg bg-white text-[color:var(--accent)] cursor-pointer max-w-[300px] w-[200px] h-[50px] min-w-fit transition-[ease] duration-[0.2s] font-bold flex justify-center items-center ml-auto mt-5 p-2.5 rounded-[0.2em] border-[none];
  font-family: "Plus Jakarta Sans", sans-serif;
  outline: inherit;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  border-radius: 15px;
  background: #40d672;
}

#snackbar.show {
  visibility: visible !important;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
